#memusage, #diskusage {
    background-color: #BDE363;
    height: 100px;
    width: 360px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

#ramtext, #disktext {
    color: rgb(0, 0, 0);
    font-family: system-ui;
    font-weight: 500;
    font-size: 2em;
    margin-left: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ramicon, #diskicon {
    color: rgb(0, 0, 0);
    font-size: 4em;
}

#stats {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}